* {
    box-sizing: border-box;
    margin: 0px;
    /*margin: 0px; 왼쪽 위쪽 빈공간 생기는 거 없애기*/
}

h2{
    background-color: blanchedalmond;
    font-size: 50px;
    text-align: center;
    margin:0px;
    padding: 40px;
    border-style: none none solid none;
    border-bottom-color: brown;
}

ol{
    border-right: 1px solid brown;
    width: 300px;
    padding: 20px;
    font-size: 20px;
}

#grid{
    display: grid;
    grid-template-columns: 300px 1fr;
}
#grid ol{
    padding-left:33px;
}

#grid #contents{
    padding-left: 25px;
    padding-top: 30px;
}