* {
    box-sizing: border-box;
    margin: 0px; /*왼쪽 위쪽 빈공간 생기는 거 없애기*/
}

.wrapper{
    width: 400px;
    height: 600px;
    background-color: pink;
}

.title{
    width: 400px;
    height: 60px;
    color:black;
    display:flex;
    align-items: center;
    justify-content: center;
    
}



.left{
    width: 230px;
    height: 500px;
    float: left;
    margin-right: 3px;
    margin-top:10px;
    background-color: yellow;

}

.right{
    width: 150px;
    height: 500px;
    background-color: blue;
    display: flex;
    flex-direction: column;
    float: right;
    margin-top:10px;
}

